DATABASE_URL="postgresql://USUARIO:SENHA@localhost:5432/siga_local?schema=public"
DIRECT_URL="postgresql://USUARIO:SENHA@localhost:5432/siga_local?schema=public"

ADMIN_INITIAL_NAME="Nome do administrador"
ADMIN_INITIAL_EMAIL="email@exemplo.com"
ADMIN_INITIAL_PASSWORD="coloque-sua-senha-local"